#banner-int1 {
    width: 100%;
    display: table;
}

#banner-int1 .banner-int1 {
    width: 100%;
    display: table;
    margin: auto;
    position: relative;
    line-height: 0;
}

#banner-int1 .banner-int1 .banner1 {
    width: 100%;
    display: block;
    height: 300px;
    background-position: center;
    background-size: cover;
}

#banner-int1 .banner-int1 .overlay {
    /* background-color: rgba(0, 0, 0, 0.4); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#banner-int1 .banner-int1 h1 {
    color: #FFF;
    font-size: 40px;
    position: absolute;
    right: 20%;
    bottom: 20px;
    z-index: 1;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    text-align: right;
}

@media screen and (max-width: 1200px) {
    #banner-int1 .banner-int1 h1{
        right: 20px;
    }
}

@media screen and (max-width: 1024px) {
    #banner-int1 .banner-int1 h1{
        font-size: 36px;
        right: 20px;
        bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    #banner-int1 .banner-int1 h1 {
        font-size: 30px;
        max-width: 90%;
        margin: 0 auto 5px auto;
    }
    #banner-int1 .banner-int1 .banner1{
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    #banner-int1 .banner-int1 h1 {
        font-size: 28px;
    }
    #banner-int1 .banner-int1 .banner1{
        height: 250px;
    }
}

@media screen and (max-width: 480px) {
    #banner-int1 .banner-int1 h1 {
        font-size: 24px;
    }
    #banner-int1 .banner-int1 .banner1{
        height: 250px;
    }
}